.ftml-collapsible--visible,
.ftml-collapsible--invisible {
    transition:
        height 0.3s ease-in-out,
        max-height 0.3s ease-in-out,
        padding 0.3s ease-in-out,
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    overflow: hidden;
}
.ftml-collapsible--invisible {
    max-height: 0px;
    padding: 0;
}
