.ftml-viewer-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    gap: 8px;
    overflow: hidden;
}

.ftml-viewer-spinner__spinner {
    width: 32px;
    height: 32px;
    position: relative;
    flex-shrink: 0;
    mask-image: radial-gradient(
        closest-side,
        transparent calc(100% - var(--thaw-spinner--stroke-width) - 1px),
        white calc(100% - var(--thaw-spinner--stroke-width)) calc(100% - 1px),
        transparent 100%
    );
    background-color: var(--colorBrandStroke2Contrast);
    color: var(--colorBrandStroke1);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ftml-viewer-spinner;

    --thaw-spinner--stroke-width: var(--strokeWidthThicker);
}

.ftml-viewer-spinner--small > .ftml-viewer-spinner__spinner {
    --thaw-spinner--stroke-width: var(--strokeWidthThick);
    width: 20px;
    height: 20px;
}

@keyframes ftml-viewer-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ftml-viewer-spinner__spinner-tail {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    mask-image: conic-gradient(transparent 105deg, white 105deg);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: var(--curveEasyEase);
    animation-name: ftml-viewer-spinner-tail;
}

@keyframes ftml-viewer-spinner-tail {
    0% {
        transform: rotate(-135deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(225deg);
    }
}

.ftml-viewer-spinner__spinner-tail::before,
.ftml-viewer-spinner__spinner-tail::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: inherit;
    background-image: conic-gradient(currentcolor 135deg, transparent 135deg);
}

.ftml-viewer-spinner__spinner-tail::before {
    animation-name: ftml-viewer-spinner-tail-before;
}

@keyframes ftml-viewer-spinner-tail-before {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(105deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ftml-viewer-spinner__spinner-tail::after {
    animation-name: ftml-viewer-spinner-tail-after;
}

@keyframes ftml-viewer-spinner-tail-after {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
