.ftml-inputref {
    margin: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid blue;
    cursor: pointer;
    padding: 0 5px;
    width: fit-content;
    font-size: larger;
    font-family: serif;
    color: blue;
    font-weight: bold;
}
.ftml-inputref::before {
    content: "▶  ";
}
