body {
    counter-reset: ftml-part ftml-chapter ftml-section ftml-subsection
        ftml-subsubsection ftml-paragraph;
}

.ftml-part {
    counter-reset: ftml-chapter ftml-section ftml-subsection ftml-subsubsection
        ftml-paragraph;
    & .ftml-title-part {
        display: block;
        font-weight: bold;
        line-height: initial;
        font-size: xx-large;
        margin: 20px 10px;
        text-align: start;
        &::before {
            content: "Part " counter(ftml-part, upper-roman) "\A";
            white-space: pre-wrap;
        }
        & h1 {
            font-size: inherit;
        }
    }
}

.ftml-chapter {
    counter-reset: ftml-section ftml-subsection ftml-subsubsection
        ftml-paragraph;
    & .ftml-title-chapter {
        display: block;
        font-weight: bold;
        line-height: initial;
        font-size: x-large;
        margin: 15px 0;
        text-align: start;
        &::before {
            content: "Chapter " counter(ftml-chapter) " - ";
        }
        & h1 {
            font-size: inherit;
        }
    }
}

.ftml-section {
    counter-reset: ftml-subsection ftml-subsubsection ftml-paragraph;
    & .ftml-title-section {
        display: block;
        font-weight: bold;
        line-height: initial;
        font-size: large;
        margin: 10px 0;
        text-align: start;
        &::before {
            content: counter(ftml-section) " ";
        }
        & h1 {
            font-size: inherit;
        }
    }
}

.ftml-subsection {
    counter-reset: ftml-subsubsection ftml-paragraph;
    & .ftml-title-subsection {
        display: block;
        font-weight: bold;
        line-height: initial;
        font-size: larger;
        margin: 5px 0;
        text-align: start;
        &::before {
            content: counter(ftml-section) "." counter(ftml-subsection) " ";
        }
        & h1 {
            font-size: inherit;
        }
    }
}

.ftml-subsubsection {
    counter-reset: ftml-paragraph;
    & .ftml-title-subsubsection {
        display: block;
        font-weight: bold;
        line-height: initial;
        font-size: inherit;
        text-align: start;
        &::before {
            content: counter(ftml-section) "." counter(ftml-subsection) "."
                counter(ftml-subsubsection) " ";
        }
        & h1 {
            font-size: inherit;
        }
    }
}

.ftml-part,
.ftml-chapter,
.ftml-section,
.ftml-subsection,
.ftml-subsubsection {
    width: fit-content;
}

.ftml-proof-title-collapsed {
    cursor: context-menu;
    &::before {
        content: "▸ ";
        margin-left: -0.45em;
    }
}
.ftml-proof-title-expanded {
    cursor: n-resize;
    &::before {
        content: "▾ ";
        margin-left: -0.45em;
    }
}

.ftml-proof-title {
    display: inline-block;
    &::before {
        font-style: italic;
        content: "Proof. ";
        margin-left: -0.45em;
    }
}
.ftml-subproof-title {
    display: inline-flex;
}

.ftml-paragraph {
    & h1 {
        text-align: start;
        font-size: inherit;
        margin: 0;
        font-weight: bold;
        font-style: normal;
        display: inline-block;
    }
}

.ftml-paragraph,
.ftml-definition,
.ftml-assertion,
.ftml-example,
.ftml-subparagraph,
.ftml-problem,
.ftml-subproblem {
    & .ftml-title-paragraph {
        display: inline-block;
        font-weight: bold;
        margin: 0;
        font-size: inherit;
        line-height: inherit;
        text-align: start;
        &::before {
            content: var(--ftml-paragraph-str);
        }
        &::after {
            content: " ";
        }
    }
    & h1 {
        text-align: start;
        font-size: inherit;
        margin: 0;
        font-weight: normal;
        font-style: italic;
        display: inline-block;
    }
}
.ftml-paragraph,
.ftml-subproblem {
    --ftml-paragraph-str: "";
}
.ftml-definition {
    --ftml-paragraph-str: "Definition ";
}
.ftml-assertion {
    --ftml-paragraph-str: "Assertion ";
}
.ftml-example {
    --ftml-paragraph-str: "Example ";
}
.ftml-problem {
    --ftml-paragraph-str: "Problem ";
}

.ftml-title {
    display: contents;
}
